:root {
    --primary-white-color: #ffffff;
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #404bbf;
    --active-color: #4d5ae5;
    --cloud-color: #F4F4FD;
    --cornflower-color: #E7E9FC;
    --green-color: #31D0AA;
    --light-slate-color: #8E8F99;
    --hover-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --modal-background: #fcfcfc;
    --grey-private: #757575;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--title-text-color);
    background-color: var(--primary-white-color);

}
/* utilities */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

img {
    display: block;
}

input,
textarea {
    outline: none;
}
/* container */
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* logo */
.logo-one {
    color: var(--active-color);
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.logo-two {
    color: var(--title-text-color);
}

.logo-footer {
    color: var(--cloud-color);
}

.page-header {
    padding-top: 24px;
    padding-bottom: 23px;
    border-bottom: 1px solid var(--cornflower-color);
}

/* navigation */
.navigation {
    display: flex;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    color: var(--title-text-color);
    position: relative;
    transition: color var(--hover-transition); 
}

.current {
    color: var(--accent-color);
}

.nav-link::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: -28px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    pointer-events: none;
    transition: background-color var(--hover-transition);
}
.nav-link:not(.current)::after {
    background-color: transparent;
}
.nav-link:not(.current):hover::after,
.nav-link:not(.current):focus::after {
    background-color: var(--accent-color);
    transition: background-color var(--hover-transition);
}
/* menu */
.menu {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
}

.auth-link {
    color: var(--primary-text-color);
    transition: color var(--hover-transition);
}

.auth-items {
    display: flex;
    align-items: center;
}

.auth-items,
.nav-items  {
    gap: 40px;
}

/* hero */
.hero {
    background-color: var(--title-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    
    

}

.hero-content {
    width: 496px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    text-align: center;
    
}

/* footer */
.footer {
    background-color: var(--title-text-color);
    padding: 100px 0;
}

.footer-text {
    color: var(--cornflower-color);
    margin-top: 16px;
    line-height: 1.5;
}

.footer-container-social {
    
    width: 264px;
}
.footer-container {
    display: flex;
}
/* footer social */
.footer-social {
    margin-left: 120px;

}
.footer-social-title {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primary-white-color)
}
.footer-social-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--hover-transition);

}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green-color);
}
/* links */
.link {
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--hover-transition)
    
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.auth-nav {
    font-style: normal;
    margin-left: auto;
}

/* buttons */
.btn {
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    
}

.primary-btn:hover,
.primary-btn:focus {
    background-color: var(--accent-color);
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--hover-transition),
    box-shadow var(--hover-transition);
}


.primary-btn{
    font-size: 16px;
    color: var(--primary-white-color);
    background-color: var(--active-color);
    
    padding: 16px 32px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    
    transition: background-color var(--hover-transition),
    box-shadow var(--hover-transition);
}

/* features section */
.thumb {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cloud-color);
    border-radius: 4px;
    margin-bottom: 8px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-item {
    width: 264px;
}

.features-list,
.work-items,
.team-items,
.filter-items {
    gap: 24px;
}

/* What Are We Doing */
.work-section {
    padding-bottom: 120px;
}
.work-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 72px auto 0px;
}

.work-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
}

/* Our Teams Section */
.team {
    background-color: var(--cloud-color);
}

.team-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
}

.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 3 * 24px) / 4);
}


/*---Team---*/
.team-text {
    padding: 32px 16px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%);
}
.text-center {
    text-align: center;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-top: 8px;
}
/* social */
.social-items {
    display: flex;
    margin-top: 16px;
    gap: 24px
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.team-social-link {
    background-color: var(--active-color);
    transition: background-color var(--hover-transition);
}
.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color);
}

/* customer */
.customer-items {
    display: flex;
    margin-top: 72px;
    gap: 24px;
}
.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    fill: var(--light-slate-color);
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    transition: border-color var(--hover-transition)
}
.customer-link:hover,
.customer-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.customer-icon {
    transition: fill var(--hover-transition);
}

/*---section---*/
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

/*-- hidden--*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* portfolio section */

.secondary-btn {
    font-size: 16px;
    color: var(--active-color);
    background-color: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
    padding: 12px 24px;
    transition: color var(--hover-transition),
            background-color var(--hover-transition), box-shadow var(--hover-transition),
            border-color var(--hover-transition);
}

.secondary-btn:hover,
.secondary-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--accent-color);
}

.filter-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* portfolio */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 72px;
    gap: 48px 24px;
}

.portfolio-item {
    background-color: var(--primary-white-color);
    flex-basis: calc((100% - 2 * 24px) / 3);

}

.portfolio-card-link {
    display: block;
    width: 100%;
    height: 100%;
    transition: box-shadow var(--hover-transition);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link {
    color: var(--title-text-color)
}

.frame-card {
    border-left: 1px solid var(--cornflower-color);
    border-right: 1px solid var(--cornflower-color);
    border-bottom: 1px solid var(--cornflower-color);
    }

    .card-set-thumb {
        position: relative;
        overflow: hidden;
    }
    .card-set-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--active-color);
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        overflow-y: auto;
        transform: translate(0, 100%);
        transition: transform var(--hover-transition) ;
    }
    .portfolio-card-link:hover .card-set-overlay,
    .portfolio-card-link:focus .card-set-overlay {
        transform: translate(0, 0);
    }
    .card-overlay-text {
        color: var(--cloud-color)
    }
/* subscribe */
.subscribe {
    margin-left: 80px;
}
.subscribe-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}
.subscribe-form {
    margin-top: 16px;
    display: inline-flex;
}
.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 0 16px;
    font-size: 16px;
    background-color: transparent;
    color: var(--primary-white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    
}
.subscribe-input:focus-within {
    border-color: var(--active-color);
}
.subscribe-btn {
    width: 165px;
    height: 40px;
    margin-left: 24px;
    padding: 8px 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--primary-white-color);
    border-radius: 4px;
    background-color: var(--active-color);
    transition: background-color var(--hover-transition);
    cursor: pointer;   
}
.subscribe-btn:hover,
.secondary-btn:focus {
    background-color: var(--accent-color);
} 
.subscribe-icon-btn {
  margin-left: auto;
  fill: var(--primary-white-color);
}

/* modal */
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--hover-transition),
    visibility var(--hover-transition);
}


.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.service-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    
    padding: 72px 24px 24px;
    background-color: var(--modal-background);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow var(--hover-transition);
}
.close-service-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--cornflower-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--hover-transition);
}
.close-service-btn:hover,
.close-service-btn:focus {
    background-color: var(--accent-color);
    border: var(--accent-color);
}
.close-service-btn-icon:hover,
.close-service-btn-icon:focus {
    transition: fill var(--hover-transition);
}
.close-service-btn:hover .close-service-btn-icon,
.close-service-btn:focus .close-service-btn-icon {
    fill: var(--primary-white-color);
}
.service-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.service-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-box {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
}
.form-input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

}
.input-box:focus-within .form-input {
    border-color: var(--active-color); 
}

.contact-input {
    height: 40px;
    padding-left: 38px;
}
.input-svg {
    position: absolute;
    bottom:8px;
    left:16px;
    fill: var(--title-text-color);
}

.input-svg {
    transition: fill var(--hover-transition);
}
.input-box:focus-within .input-svg {
    fill: var(--active-color);
}
.comment-box {
        margin-bottom: 16px;
}
.comment-input {
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);

}
.private-policy-label {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--grey-private);
    margin-left: 8px;

}
.check-box {
    margin-bottom: 24px;
    display: flex;

}

.check-icon {
    width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.25px solid var(--primary-text-color);
        border-radius: 2px;
        fill: none;
        cursor: pointer;
        transition: fill var(--hover-transition),
        background-color var(--hover-transition), box-shadow var(--hover-transition);
}
.private-policy-check:focus+.check-icon {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #000000;
}
.private-policy-check:checked+.check-icon {
    border-color: transparent;
    background-color: var(--accent-color);
    fill: var(--cloud-color);
}
.private-policy-link {
    position: relative;
    color: var(--active-color);
}
.private-policy-link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1px;
    border-bottom: 1px solid var(--active-color);
    transition: border-color var(--hover-transition);
}
.private-policy-link:hover::after,
.private-policy-link:focus::after {
    border-color: var(--accent-color);
}
.form-send-btn {
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: var(--primary-white-color);
    border: none;
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--hover-transition);

}
.form-send-btn:hover,
.form-send-btn:focus {
background-color: var(--accent-color);
}